* {
	margin: 0;
	padding: 0;
	font-family: "Tektur", sans-serif;
}

.initialPageBacking {
	background-color: black;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.projectMembers {
	background-color: gray;
	display: inline-block;
	color: white;
	border-radius: 10px;
	padding: 20px;
}

.projectMembers h1 {
	color: rebeccapurple;
	margin-top: 0;
	margin-bottom: 20px;
}

.membersList {
	list-style: none;
}

.membersList li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.membersList li div {
	margin-left: 10px;
}

.timerParagraph {
	font-size: 60px;
	color: rebeccapurple;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.container{
    position:relative;
    height: 300px;
    width:300px;
    border: 1px solid #ccc;
}
.box{
    height: 75px;
    width: 75px;
    border: 1px solid #eee;
    background-color: white;
    box-sizing: border-box;
    position:absolute;
    cursor:pointer;
    transition: all 0.5s ease;
    display: inline-block;
    text-align: center;
    line-height: 75px;
}

.black{
    background-color: black;
}
.green{
    background-color: #6FF527;
}